@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
/** Dark theme primary colors */
--clr-primary-a0: #8c31f2;
--clr-primary-a10: #9c4cf4;
--clr-primary-a20: #ac64f6;
--clr-primary-a30: #ba7bf8;
--clr-primary-a40: #c791fa;
--clr-primary-a50: #d3a7fc;

/** Dark theme surface colors */
--clr-surface-a0: #06010c;
--clr-surface-a10: #211e24;
--clr-surface-a20: #38363b;
--clr-surface-a30: #514f54;
--clr-surface-a40: #6b696e;
--clr-surface-a50: #878589;

/** Dark theme tonal surface colors */
--clr-surface-tonal-a0: #180c21;
--clr-surface-tonal-a10: #2d2336;
--clr-surface-tonal-a20: #433b4c;
--clr-surface-tonal-a30: #5b5363;
--clr-surface-tonal-a40: #756e7b;
--clr-surface-tonal-a50: #8f8994;


  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
}

#root {
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
  padding: 1rem;
  height: calc(100vh - 1rem);
  overflow: hidden;
}

body {
  background-color: var(--clr-surface-a0);
  color: white;
}

@media  (max-width: 1000px) {
  #root {
    max-height: fit-content;
    overflow-y: scroll;
  }

  body {
    overflow-y: scroll;
    height: fit-content;
  }

  .info-card {
    /* margin: 0 50px 0 50px; */
    min-width: 20em !important;
    max-width: calc(100vw - 144px) !important;
  }
}

.info-card {
  text-align: left;
  width: fit-content;
  height: fit-content;
  overflow-y: scroll;
  max-width: 25%;
  max-height: calc(50vh - 3rem);
  padding-bottom: 1rem;
  flex: 1 1 calc(25% - 1rem);
}

.info-card ul li {
  padding: 0.5em;
}

.info-card ul li:nth-child(even) {
  background-color: var(--clr-surface-a10);
}

.info-card h2:nth-child(n+2) {
  margin-top: 2em;
}

.info-card p:nth-child(n+2) {
  margin-top: 1em;
}

tr:nth-child(even) {
  background-color: var(--clr-surface-a10);
}

.notes-area {
  width: 100%;
  height: 100%;
  min-height: 4em;
  background-color: var(--clr-surface-tonal-a10);
  padding: 0.5em;
  line-height: 1.5;
}

.notes-area:focus-visible {
  border: none;
  outline: none;
}

strong, .font-bold, .font-semibold {
  color: var(--clr-primary-a50);
}

.text-lg {
  color: var(--clr-primary-a40);
}

.text-3xl {
  color: var(--clr-primary-a30);
}

.tab-button[data-state="active"] {
  border-bottom: 1px solid var(--clr-primary-a0);
  background-color: var(--clr-surface-tonal-a10) !important;
  border-radius: 5px;
}

.tab-button {
  border-bottom: none;
  font-size: 110%;
  padding: 0.5rem;
}

.color-slider-wrapper {
  position: absolute;
  top: .5em;
  right: 2em;
  filter: hue-rotate(-45deg);
  display: flex;
}

.color-button {
  cursor: pointer;
  padding: 0.5em;
  background-color: var(--clr-surface-a10);
  border-radius: 5px;
  visibility: visible;
}

.color-change-opener {
  font-size: 175%;
  filter: invert(1);
  cursor: pointer;
  visibility: hidden;
}

.purple-theme {
  background-color: #8c31f2;
}

.green-theme {
  background-color: #31f283;
}

.red-theme {
  background-color: #f52e33;
}

.blue-theme {
  background-color: #3179f2;
}

.theme-button {
  display: inline-block;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 2px solid white;
}

.primary-bg {
  background-color: var(--clr-primary-a0);
}

.white-thumb>span {
  background-color: white;
}

.horizontal-scroll {
  max-width: 100vw;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
}

a.underline {
  padding: 5px 5px 5px 0;
}
